<html>
	<head>
		{% block title %}
			<title>{% block title-inner %}DemoConf Project - Version 1{% endblock title-inner %}</title>
		{% endblock title %}
		
		{% block css %}
		<style type="text/css">
			{% block css-inner %}
			div { padding-left: 15px; }
			#messages { border: 1px solid #ccc; width: 75%; float: left; height: 75%; overflow: auto; }
			#members { border: 1px solid #ccc; width: 15%; float: left; height: 75%; margin-left: 20px; }
			{% endblock css-inner %}
		</style>
		{% endblock css %}
		
		{% block js %}
		<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js?ver=1.3.2"></script>
		<script language="javascript" type="text/javascript">
			{% block js-inner %}
				//No JS in base template
			{% endblock js-inner %}
		</script>
		{% endblock js %}
	</head>
	
	{% block body %}
	<body>
		{% block body-inner %}
			<!-- No content in base template -->
		{% endblock body-inner %}
	</body>
	{% endblock body %}
