{% load media_tags %}
{% load revision_tags %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>

		<title>{% block title %}DemoConf Project{% endblock title %}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en" />
		
		{% block css %}
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{% media css/base.css %}" />
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{% media css/ui-lightness/jquery-ui-1.7.2.custom.css %}" />
		<link rel="stylesheet" type="text/css" media="screen, projection" href="{% media css/jquery.autocomplete.css %}" />
		{% endblock css %}
		
		{% block js-pre %}
		<script language="javascript">
			{% block js-pre-inner %}
				
			{% endblock js-pre-inner %}
		</script>
		{% endblock js-pre %}
		
		{% block js-imports %}
		<script src="{% media js/jquery-1.3.2.js %}"></script>
		<script src="{% media js/jquery-ui-1.7.2.custom.min.js %}"></script>
		<script src="{% media js/jquery.blockUI.js %}"></script>
		
		<script src="{% media js/master.js %}"></script>
		{% endblock js-imports %}
		
		{% block js %}
		<script language="javascript">
			{% block js-inner %}
				function close_message(id) {
					selector = "#site-message-"+id;
					$(selector).hide();
					return false;
				}
				
				$(document).ready(function() {
					$("#site-messages-table tr td.message-close a").click(function() {
						$(this).parent().parent().hide();
						return false;
					});
				});
			{% endblock js-inner %}
		</script>
		{% endblock js %}
		
		<script src="{% media js/ready.js %}"></script>
		
	</head>
	<body id="{% block page-id %}home{% endblock page-id %}">
		<div id="site-messages-container">
			<table id="site-messages-table">
				<tbody>
					{% for message in messages %}
					<tr id="site-message-{{forloop.counter}}" class="site-message">
						<td class="message">{{message}}</td>
						<td class="message-close">
							<a href="" title="Dismiss this message">×</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		<div id="site-container">
			{% block site-container %}
		
			<div id="header">
				<div id="header-body" class="clearfix">
					<div id="auth-banner">
						<form action="/search/" method="GET">
							{% if user.is_authenticated %}
								Welcome, <a href="{{user.get_absolute_url}}"><strong>{{user}}</strong></a>. | <a href="{% url auth_logout %}">Logout</a>
							{% else %}
								<a href="{% url auth_login %}">Login</a> | <a href="{% url registration_register %}">Register</a>
							{% endif %}
							&nbsp;&nbsp;
							<input type="text" name="q" size="15" />
							<input type="submit" value="Search" />
						</form>
					</div>
					
					<div class="logo-div">
						<img title="DemoConf Project" alt="DemoConf Project" height="81" width="287" src="{% media img/logo.png %}" />
						<h1>DemoConf Project</h1>
					</div>
					
					<div id="menu" class="clearfix">
						{% block menu %}
						<ul id="nav">{% spaceless %}
							<li class="home"><a href="{% url index %}">Home</a></li>
							<li class="rooms"><a href="{% url rooms_room_list %}">Rooms</a></li>
							<li class="users"><a href="{% url users_user_list %}">Users</a></li>
							<li class="search"><a href="#">Search</a></li>
							{% if user.is_authenticated %}
							{% if user.is_staff %}
							<li class="admin">	<a href="{% url admin '' %}" title="View Admin Panel">Admin</a>
							</li>
							{% endif %}
							{% endif %}
							<li class="help"><a href="#">Help</a></li>
						{% endspaceless %}</ul>
						{% endblock %}
					</div>
				</div><!-- / #header-body -->
			</div><!-- / #header -->
			
			{% block content %}
			<div id="content">
				<div id="content-header" class="clearfix">
					{% block page-title %}
						<div id="page-title">
						{% block page-title-inner %}
							<!-- No title on base template -->
						{% endblock page-title-inner %}
						</div>
					{% endblock page-title %}
					
					{% block sub-menu %}
						<div id="sub-menu">
						{% block sub-menu-inner %}
							<!-- No sub-menu on base template -->
						{% endblock sub-menu-inner %}
						</div>
					{% endblock sub-menu %}
				</div>
				
				{% block content-inner %}
				
				{% block content-left %}
				<div id="left" class="clearfix">
					{% block content-left-inner %}

					<div class="error">
						<p>This page hasn't been given any content. This is the base template.</p>
					</div>

					{% endblock content-left-inner %}
				</div><!-- /.left -->
				{% endblock content-left %}
				
				{% block content-right %}
				<div id="right">
					{% block content-right-inner %}
					

					{% block box2 %}
						<div class="box clearfix">
							{% block box2-inner %}
							<h2>Recent:</h2>
							Maybe a collection of things that have just happened, something like that.
							{% endblock box2-inner %}
						</div>
					{% endblock box2 %}
					
					<div class="clearfix">
						<a class="button-style" href="{% url rooms_create_room %}">New Conference</a>
					</div>
					
					<br />
					
					<div class="box box-small">
						<div style="font-size: 0.8em;">
							{% block short-url %}Short URL Here{% endblock %}
						</div>
					</div>
					{% endblock content-right-inner %}
				</div>
				{% endblock content-right %}
				
				{% block footer %}
				<div id="footer">
					{% block footer-inner %}
						<span class="left">&copy; 2010 DemoConf Project</span>
						<span class="right">SVN Revision: {% revision %}</span>
					{% endblock footer-inner %}
				</div>
				{% endblock footer %}
			
				{% endblock content-inner %}
			</div><!-- /.content -->
			{% endblock content %}
			
			

			{% endblock site-container %}
		</div><!-- /.site-container -->

	</body>

</html>
