{% extends 'rooms/base.html' %}

{% load media_tags %}

{% block title-inner %}{{room.name}} | {{block.super}}{% endblock title-inner %}

{% block js-imports %}
	{{block.super}}
	<script src="{% media js/conference_room.js %}"></script>
{% endblock js-imports %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" media="screen, projection" href="{% media css/conference_room.css %}" />
{% endblock css %}

{% block title %}
	{{room.name}} | {{block.super}}
{% endblock title %}

{% block page-title-inner %}
	<h1>{{room.name}}</h1>
{% endblock page-title-inner %}

{% block content-left-inner %}
	
	<div id="room-wrapper">
		<div id="messages-wrapper">
			<div id="messages"></div>
		</div>
		<div id="members"></div>
	</div>
	
	<div id="room-footer" class="clearfix">
		<div id="room_form">
			<form id="message-input-form" method="POST" action="{% url rooms_conference_room room.id %}">
				<input type="text" id="input" name="message1" size="40" />
				<input type="submit" id="submit" value="Submit" />
			</form>
			<div id="loading"></div>
		</div>
		<div id="num_members"></div>
		
		<div id="room-links">
			<div id="leave-conference" title="Leave conference">
				<p><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 7px 0px 0;"></span>Are you sure you wish to leave this conference?</p>
			</div>
	
			<ul id="room_links">
				<li><a id="leave-conference-button" href="{% url rooms_leave_room room.id %}">Leave Conference</a></li>
				<li><a id="vote-button" href="#">Vote Test</a></li>
			</li>
	
			<div id="vote_div">
				This is where we'll vote!
			</div>
		</div>
	</div>
	
{% endblock content-left-inner %}
