{% extends 'rooms/base.html' %}
{% load media_tags %}

{% block title %}
	{% if object %}
		Edit a Debate
	{% else %}
		Start a Debate
	{% endif %}
	| {{block.super}}
{% endblock title %}

{% block css %}
	{{block.super}}
	<style type="text/css">
		#join-threshold-slider { clear: left; }
		#join-threshold-slider .ui-slider-handle { border-color: #aaa }
		#join-threshold-slider .ui-slider-range { background: #ccc }
		#join-threshold-value { padding-left: 3px; border:0; color:#000; font-weight:bold; margin-bottom: 15px; }
		#id_question { font-size: 1.8em; width: 90%; padding: 2px; }
		#choices input { font-size: 1.3em; padding: 2px; }
		.advanced { padding: 20px 20px; margin: 20px 0; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; background-color: #FEFEFE; }
		#choices ol { list-style-type: lower-alpha; }
		
		a#new-choice { margin-left: 20px; background-color: #ccc; padding: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
		a#new-choice:hover { text-decoration: none; background-color: #bbb; }
		a#new-choice img { margin-right: 5px; position: relative; top: 3px; }
		.floating_field { float: left; clear: none !important; vertical-align: middle; position: relative; bottom: 3px; padding-left: 3px; }
	</style>
{% endblock css %}

{% block js-imports %}
	{{block.super}}
	<script src="{% media js/room_form.js %}"></script>
{% endblock js-imports %}

{% block page-title-inner %}

	<h1>
		{% if object %}
			Edit a Debate
		{% else %}
			Start a Debate
		{% endif %}
	</h1>

{% endblock page-title-inner %}

{% block content-left-inner %}
	<div class="last sec">
		{% if object %}
			<h6>Updating the debate:</h6> <p><strong>{{object.name}}</strong></p>
		{% else %}
			<p>To start a new debate, you must enter a <strong>question</strong>, that will be voted upon every time the period ends.</p>
			<p>You choose the possible choices that members can vote for, and set the length of each period.</p>
		{% endif %}
		
		<div class="form issue-form">
			<form method="POST">
				{% for field in poll_form %}
					{% if field.is_hidden %}
						{{field}} {{field.errors}}
					{% else %}
						<div class="field-wrapper" id="{{field.name}}">
							<div class="label">{{field.label_tag}}</div>
							<div class="field">{{field}}</div>
							<div class="errors">{{field.errors}}</div>
						</div>
					{% endif %}
				{% endfor %}
				{{choice_formset.management_form}}
				Choices
				<div id="choices" class="clearfix">
					<ol>
					{% for form in choice_formset.forms %}
						{% for field in form %}
							{% if field.is_hidden %}
								{{field}} {{field.errors}}
							{% else %}
								<div class="field-wrapper" id="{{field.name}}">
									<li>
										<div class="field">{{field}}</div>
									</li>
								</div>
							{% endif %}
						{% endfor %}
						
					{% endfor %}
					</ol>
					<a id="new-choice" title="Add a new choice" href="#"><img src="{% media img/icons/16-em-plus.png %}" />add another</a>
				</div>
				<div class="errors">
					{{choice_formset.non_form_errors}}
				</div>
				<div class="advanced">
					{% for field in room_form %}
						{% if field.is_hidden %}
							{{field}} {{field.errors}}
						{% else %}
							<div class="field-wrapper" id="{{field.name}}">
								<div class="label">{{field.label_tag}}</div>
								<div class="field">{{field}}</div>
								<div class="help-text">{{field.help_text}}</div>
								<div class="errors">{{field.errors}}</div>
							</div>
						{% endif %}
					{% endfor %}
					<div id="join-threshold-slider"></div>
				</div>
				{% spaceless %}
					<input class="button-style" type="submit" value="Submit" /> or 
					{% if object %}
						<a class="cancel" href="{% url rooms_conference_room object.id %}">
					{% else %}
						<a class="cancel" href="{% url rooms_room_list %}">
					{% endif %}
					Cancel and go back</a>
				{% endspaceless %}
			</form>
		</div>
	</div>
		
{% endblock content-left-inner %}
