{% load gravatar_tags %}

<div class="issue-summary-inner clearfix">
	<div class="right">
		<div style="float: right; position: relative; top: 15px;" class="clearfix">
			
		</div>
		
		<h3>
		{% if object.is_joinable %}
			<a href="{{object.get_absolute_url}}" title="{{object.poll.question}}">
				{{object.poll.question}}
			</a>
		{% else %}
			<a href="{{object.get_absolute_url}}" title="{{object.poll.question}}">{{object.poll.question}}</a>
		{% endif %}
		</h3>
		
		Room is <strong>{% if not object.is_active %}not {% endif %}active</strong>, and
		
		{% if not object.is_joinable %}
			<strong>not joinable</strong>
		{% else %}
			<strong>joinable</strong>
		{% endif %}
		(polling commences in <strong>{{object.get_time_until_joinable}}</strong>s).
		
		{% if object.get_tags %}
			<div class="tags">
				{% for tag in object.get_tags %}
					<a class="room-tag" title="See rooms tagged '{{tag}}'" href="{% url conference_rooms_by_tag tag %}{% ifnotequal filter default_filter %}?f={{filter}}{% endifnotequal %}">{{tag}}</a>
				{% endfor %}
			</div>
		{% endif %}
		
	</div>
	
	<div class="raised">
		Opened by <a href="{{object.opened_by.get_absolute_url}}">{{object.opened_by}}</a> {{object.opened_at|timesince}} ago.
	</div>
</div>
