{% load gravatar_tags %}

<div class="issue-summary-inner clearfix">
	
	<div class="left">
		<div class="num">{{object.members.count}}</div>
		<span>{% if not object.is_joinable %}dead{% else %}join{% endif %}</span>
	</div>
	
	<div class="right">
		
		<h3>
		{% if object.is_joinable %}
			<a href="{{object.get_absolute_url}}" title="{{object}}">
				{{object}}
			</a>
		{% else %}
			{{object}}
		{% endif %}
		</h3>
		
		<p class="info">Created by <a href="{{object.opened_by.get_absolute_url}}">{{object.opened_by.get_full_name|default:object.opened_by}}</a>.</p>
		
		<span class="raised">
			{{object.opened_at|timesince}} ago
		</span>
		
	</div>
	
</div>
