{% extends 'rooms/base.html' %}

{% block title %}
	Debates | {{block.super}}
{% endblock title %}

{% block page-title-inner %}
	<a style="float: right; position: relative; top: 15px; font-size: 1.1em;" href="{% url rooms_create_room %}">Start a new debate!</a>
	<h1>Debates</h1>
{% endblock page-title-inner %}

{% block content-left-inner %}
	
	{% if not object_list %}
		<div class="last sec">
			<p>There are currently no debates taking place. If there's something you want to shout about, then <a href="{% url rooms_create_room %}">start one</a>!</p>
		</div>
	{% else %}

		<div class="issue-list {% if is_paginated %}paginated{% endif %}">
		{% for object in object_list %}
			{% include 'rooms/room_summary.html' %}
		{% endfor %}
		</div>
		
		<div class="last sec">
			<p>If nothing tickles your fancy, then <a href="{% url rooms_create_room %}">start a new debate</a>!</p>
		</div>
	{% endif %}
	
{% endblock content-left-inner %}

{% block content-right-inner %}
	
{% endblock content-right-inner %}
