{% extends 'rooms/base.html' %}

{% block title %}
	Conference Rooms | {{block.super}}
{% endblock title %}

{% block page-title-inner %}
	<h1>Conference Rooms</h1>
{% endblock page-title-inner %}

{% block content-left-inner %}
	
	{% if not object_list %}
		<div class="last sec">
			There are no conference rooms available at present.
		</div>
	{% else %}

		<div class="issue-list {% if is_paginated %}paginated{% endif %}">
		{% for object in object_list %}
			{% include 'rooms/room_summary.html' %}
		{% endfor %}
		</div>

	{% endif %}
	
{% endblock content-left-inner %}
