{% extends 'conference/base.html' %}

{% block title-inner %}{{room.name}} | {{block.super}}{% endblock title-inner %}

{% block js-inner %}

{{block.super}}

	function refreshData(unread, callback) {
		if (typeof unread == 'undefined') unread = false;
		if (typeof callback == 'undefined') callback = function(){ return false; };
		
		var url = window.location.pathname+"?json"
		if (unread) {
			url += "&unread"
		} else {
			$('#loading').show();
		}
		
		$.getJSON(url, function(data, textStatus){
			
			if (!unread) $("#messages").html("");
			
			$.each(data.messages, function(i, item){
				$("#messages").append("<p><b>"+item['author']+":</b> "+item['content']+"</p>");
			});
			
			$("#members").html("");
			$.each(data.members, function(i, item){
				$("#members").append("<p><b>"+item['username']+"</b></p>");
			});
			
			$("#num_members").html("Members: "+data.num_members);
			
			if (unread)
			{
				if (data['messages'].length > 0)
				{
					$("#messages-wrapper").animate({ scrollTop: $("#messages").attr("scrollHeight") }, 500);
				}
			} else {
				$("#messages-wrapper").attr({ scrollTop: $("#messages").attr("scrollHeight") });
				$('#loading').hide();
			}
			callback();
		});
	}
	
	function send_message(field) {
		var message = $("input[name='"+field+"']");
		if (!message.val()) {
			$("#input").focus();
			return false;
		}
		
		$('#loading').show();
		$("#input").attr("DISABLED", "disabled");
		$("#submit").attr("DISABLED", "disabled");
		
		var data = "message=" + message.val();
		
		$.post(window.location.pathname,
			{ message: message.val() },
			function(data) {
				$.each(data.messages, function(i, item){
					$("#messages").append("<p><b>"+item['author']+":</b> "+item['content']+"</p>");
				});
				$("#messages-wrapper").animate({ scrollTop: $("#messages").attr("scrollHeight") }, 500);
				$("input[name='"+field+"']").val("");
				$("#input").removeAttr("disabled");
				$("#submit").removeAttr("disabled");
				$("#input").focus();
				$('#loading').hide();
			},
			"json"
		);
		
		return false;
	}
	
	function resizeFrame() 
	{
		var h = $(document).height();
		var w = $(document).width();
		//$("#vote_div").css('height', h);
		//$("#vote_div").css('width',w*0.9);
	}
	
	$(document).ready(function() {
		$('#loading').hide();
		$("#input").focus();
		refreshData();
		setInterval("refreshData(true)", 2000);
		
		jQuery.event.add(window, "load", resizeFrame);
		jQuery.event.add(window, "resize", resizeFrame);
		
		$("#message-input-form").submit(function() {
			return send_message("message1");
		});
		
		$("#message-input-form-popup").submit(function() {
			send_message("message2");
			$("#new-message").dialog('close');
			return false;
		});
		
		$("#leave-conference").dialog({
			bgiframe: true,
			autoOpen: false,
			width: 470,
			closeOnEscape: false,
			draggable: false,
			modal: true,
			resizable: false,
			buttons: {
				"Yes, I'm sure": function() { window.location = window.location.pathname+"leave/" },
				"No, take me back": function() { $("#leave-conference").dialog('close'); }
			}
		});
		
		$("#leave-conference-button").click(function(){
			$("#leave-conference").dialog('open');
			return false;
		});
		
		$("#vote_div").dialog({
			bgiframe: true,
			autoOpen: false,
			width: $(window).width()*0.9,
			height: $(window).height()*0.9,
			closeOnEscape: false,
			draggable: false,
			modal: true,
			resizable: false,
			open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); $('body').css('overflow','hidden');},
			buttons: {
				"Back to conference": function() { $("#vote_div").dialog('close'); }
			}
		});
		
		$("#vote-button").click(function(){
			$("#vote_div").dialog('open');
			return false;
		});
		
		$("#leave-conference-button").click(function(){
			$("#leave-conference").dialog('open');
			return false;
		});
		
		
	});

{% endblock js-inner %}
		
{% block body-inner %}

	<h3>{{room}}</h3>
	
	<div id="messages-wrapper">
		<div id="messages"></div>
	</div>
	<div id="members"></div>
	
	<div id="form_div">
		<form id="message-input-form" method="POST" action="{% url conference_room room.id %}">
			<input type="text" id="input" name="message1" size="40" />
			<input type="submit" id="submit" value="Submit" />
		</form>
		<div id="loading"></div>
	</div>
	
	<div id="num_members"></div>
	
	<div id="leave-conference" title="Leave conference">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 7px 0px 0;"></span>Are you sure you wish to leave this conference?</p>
	</div>
	
	<div id="form_div">
		<a id="leave-conference-button" href="{% url conference_room_leave room.id %}">Leave Conference</a>
		<a id="vote-button" href="#">Vote Test</a>
	</div>
	
	<div id="vote_div">
		This is where we'll vote!
	</div>
	
{% endblock body-inner %}
