div#loginform
{
	width: 400px;
	height: 300px;
	border: 1px solid black;
	margin: auto;
	margin-top: 50px;
}

div#loginform div.header
{
	width: 380px;
	height: 35px;
	color: white;
	font-size: 24px;
	text-align: center;
	background-color: #6699CC;
	margin: 0px;
	margin: auto;
	padding: 10px;
}

div#loginform div.content
{
	font-size: 14px;
	text-align: center;
	padding: 10px;
}

div#loginform #logintable
{
	padding: 0px;
	margin: auto;
	margin-top: 30px;
}

div#loginform #logintable td
{
	margin-bottom: 5px;
}

div#loginform .error_div
{
	border: 1px solid #FF0000;
	display: block; padding: 8px;
	margin: 0 30px 0 30px;
	color: red;
	background: #ffc;
}

div.form_wrapper
{
	margin-right: 50px;
}

div.form div.errors
{
	display: block;
	color: red;
}

div.form div.errors ul
{
	list-style: none;
	padding-left:0;
}

div.form div.errors ul li
{
	list-style: none;
	padding-left:0;
}

div.form div.submit
{
	clear: left;
}

div.form div.choicesheader
{
	clear:left;
}

form.registration-form input[type="password"], form.registration-form input[type="text"] { font-size: 1.6em; padding: 3px; }


form input.read_only { border: 0; font-weight: bold; }

.interval_input
{
	text-align: right;
}

.interval_icon
{
	vertical-align: middle;
}



