body{ font: 85%/1.3 TrebuchetMS,Arial,sans-serif; text-align: left; background: #fff; padding-bottom:20px }

a { color: #0066B3; background: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { font: bold 2.1em Arial, Arial, Sans-Serif; /*color: #036DA7;*/ color: #62B9E3; }
h2 { font: normal 1.5em Arial, Sans-Serif; font-style: italic; padding: 0; margin: 0; margin-bottom: 1em; }
h2.indented { text-indent: 20px; }
h3 { font: normal 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

h6 { font-weight: normal; font-size: 1em; margin-bottom: 0; margin-top: 10px; }

#footer { border: 1px solid #ccc; clear: both; height: 20px; padding: 5px 10px; }
#footer .left { float: left; }
#footer .right { float: right; }

div.form { padding: 20px; background: #FFF; -moz-border-radius:5px; -webkit-border-radius:5px; border: 1px solid #CCC;}
div.form div.field-wrapper { margin-bottom: 15px; }
div.form div.field-wrapper div.label { clear: left; }
div.form div.field-wrapper div.field { clear: left; }
div.form div.field-wrapper div.field select { width: 10em; font-size: 1.2em; }

div.form div.field-wrapper div.help-text { clear: left; font-size: 0.9em; color: #666; text-indent: 1em; }

div.form div.field-wrapper div.errors, div.form-errors { color: #cc3300; }
div.form div.field-wrapper div.errors { float: left; margin: 0 0 10px 0; }
div.form-errors { margin: 10px 0 0 0; }

a.issue-tag { background: #f2f2f2; color:#6a6a6a; padding: 2px 8px; border: 1px solid #bbb; line-height: 2.2; white-space: nowrap; margin: 2px 2px 2px 0; }
a.issue-tag:hover { text-decoration: none; color: #327899; border-color: #327899; }

div.pagination { float: right; margin-bottom: 5px; margin-top: 15px; }
div.pagination a, div.pagination span { font-size: 1.5em; color:#6a6a6a; padding: 5px 5px; border: 1px solid #bbb; line-height: 2.2; white-space: nowrap; margin: 2px 2px 2px 0; }
div.pagination a:hover { text-decoration: none; color: #327899; border-color: #327899; }
div.pagination span { background: #999; color: #FFF; }

xa.button-style { font-size: 1.2em; background: #CCEEFF; padding: 5px 8px; border: 0px solid #3366CC; }
xa.button-style:hover { text-decoration: none; background: #CCDDFF; }

a.button-style, input.button-style { font-size: 1.2em; color:#333; background: #f2f2f2; padding: 5px 8px; border: 2px solid #999; }
a.button-style:hover, input.button-style:hover { text-decoration: none; color: #327899; border-color: #327899; }

input.button-style { padding-top: 3px; padding-bottom: 3px; }
input.button-style:hover { cursor: pointer; }

div#header { width: 100%; background: #BBD9EE; }
div#header-body { width:936px; padding: 0 5%; margin: 0 auto; }
div#menu { margin: 0 auto; text-align:left; clear: right; }
div#header h1 { display: none; }

div#header div.logo-div { width:30%; height: 65px; text-align:right; padding: 10px 0 0 0; color: #fff; }

div#auth-banner { float: right; background: #eee; padding: 5px 20px; margin-right: 20px; -moz-border-radius-bottomleft:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-left-radius:6px; -webkit-border-bottom-right-radius:6px; }

ul#nav,ul#nav li { list-style-type:none; margin:0; padding:0 }
ul#nav { float:right; font-size: 100%; }
ul#nav li { float:left; margin-left: 3px; text-align: center}
ul#nav a { float:left; width: 95px; padding: 2px 0; background: #E7F1F8; text-decoration:none; color: #666; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff; }
ul#nav a:hover { background: #fff; color: #000}
ul#nav li.activelink a,ul#nav li.activelink a:hover { background: #FFF; color: #003 }

body#home ul#nav li.home a,
body#home ul#nav li.home a:hover,
body#debates ul#nav li.debates a,
body#debates ul#nav li.debates a:hover,
body#users ul#nav li.users a,
body#users ul#nav li.users a:hover,
body#search ul#nav li.search a,
body#search ul#nav li.search a:hover,
body#admin ul#nav li.admin a,
body#admin ul#nav li.admin a:hover,
body#faq ul#nav li.faq a,
body#faq ul#nav li.faq a:hover {
	background: #FFF; color: #003
}


.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.button-bar { padding: 7px 0 15px; }

#content { font: 95%/1.3 TrebuchetMS,Arial,sans-serif; width: 936px; margin: auto; background: #fff; min-width: 750px; padding: 0 5%; }

#left, #center-large, #right .box { }

#center-large { float: left; width: 100%; padding: 1em; margin-bottom: 1.2em; background: #eee; text-align: justify; }

#left { font: 0.9em "Lucida Grande", Verdana, Arial, sans-serif; float: left; width: 696px; padding: 0 0.5em; margin-bottom: 1.2em; /* background: #eee; border: 1px solid #aaa; */ border-top: 1px solid #CCC; }
#1left { font: 0.9em "Lucida Grande", Verdana, Arial, sans-serif; float: left; width: 896px; padding: 0 0.5em; margin-bottom: 1.2em; /* background: #eee; border: 1px solid #aaa; */ border-top: 1px solid #CCC; }

#right { float: right; width: 200px; background-color:#E7F1F8; color:#515151;}

#right .box { padding: 1em; margin: 0 0 1em 0; background : #FFF6BF; border: 1px solid #b6b981; }

#right .box-small { min-height: 0px; }

div.issue-summary-inner { clear: left; background: #FAFAFA; position: relative; width: 695px; border-top: 2px solid #ddd; -moz-border-radius-bottomright:6px; -moz-border-radius-topleft:12px; -webkit-border-bottom-right-radius:6px; -webkit-border-top-left-radius: 12px; }

div.issue-summary-inner:hover {  }
div.issue-summary-inner:hover div.left {  }
div.issue-summary-inner:hover div.raised a { color: #333; border-bottom-color: #8f8f8f; }
div.issue-summary-inner:hover div.raised a:hover { color: #2a2a2a; border-bottom-color: #5c5c5c; }

div.issue-summary { margin: 10px 0; }
div.issue-summary.last {  }

div.issue-summary-inner div.top { background-color: #ddd; height: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius:6px; }

div.issue-summary-inner div.left { position: absolute; top: -2px; float: left; height: 53px; width: 50px; background-color: #eaeaea; }
div.issue-summary-inner div.left div.num { color: #333; font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif; font-weight: bold; background-color: #ddd; font-size: 18px; line-height: 15px; text-align: center; padding: 10px 0 6px 0; }
div.issue-summary-inner div.left span { color: #555; text-align: center; display: block; padding-top: 3px; text-transform: uppercase; }

div.issue-summary-inner div.right { float: right; padding: 0 10px 5px 10px; width: 625px; height: 46px;}
div.issue-summary-inner div.right p { float: left; margin: 0;}

div.issue-summary-inner div.right span { float: right; font-size: 0.9em; color: #bbb; text-transform: lowercase; }
div.issue-summary-inner:hover div.right span { }
div.issue-summary-inner span a { color: #666; font-size: 1em; }
div.issue-summary-inner span a:hover { color: #b7b7b7; text-decoration: none; }

div.issue-summary-inner div.right h3 { font-size: 18px; padding: 5px 0; }



div.id.priority-level-1 { background-color: #f81312; border-color: #7c0909; color: #7c0909; } /* Red */
div.id.priority-level-2 { background-color: #fa630a; border-color: #7d3204; color: #7d3204; } /* Orange */
div.id.priority-level-3 { background-color: #5a9a00; border-color: #3c6600; color: #3c6600; } /* Green */
div.id.priority-level-4 { background-color: #CCFFFF; border-color: #666688; color: #666688; } /* Yellow */
div.id.priority-level-5 { background-color: #ffffff; border-color: #7f7f7f; color: #7f7f7f; } /* Grey */

div.issue-summary-inner div.tags { float: left; min-height: 25px;}
div.issue-summary:hover div.tags {  }

div.issue-summary-inner div.raised { font: 0.85em "Lucida Grande", Verdana, Arial, sans-serif; color: #555; position: absolute; bottom: 0; right: 0; }
div.issue-summary-inner div.raised a { color: #333; font-size: 1em; border-bottom: 1px dotted #8F8F8F; }
div.issue-summary-inner div.raised a:hover { color: #b7b7b7; text-decoration: none; border-bottom-style: solid; }

div.issue-summary-inner div.hover-fix { height: 100%; width: 250px; position: absolute; left: -245px; }

div.issue-list { margin-bottom: 10px; }
div.issue-list.paginated { margin-bottom: 0px; }

div.issue-list-footer { text-align: right; padding: 10px; padding-top: 20px; }

div.user-detail-footer { padding: 10px 10px 20px; margin: 0 10px; }
div.user-detail-footer #back-button { float: left; }
div.user-detail-footer #edit-button { float: right; }



div.issue-form {  }

div#content-header { width: 896px; padding: 0 0 0 6px; }

div#content-header div#page-title { float: left; margin: 20px 0 10px 0; padding-left: 5px; }
div#content-header div#page-title.long { }
div#content-header div#page-title h1 { font: italic 2em Arial; color: #4b4b4b; margin: 0; padding: 0; }
div#content-header div#page-title h1 span { color: #f82721;  }

div#content-header div#sub-menu { float: right; margin: 30px 0 0 0; }
div#content-header div#sub-menu ul { margin: 0; }
div#content-header div#sub-menu ul li { display: inline; float: left; padding: 0 10px; color: #f9571c; border-right: 1px solid #bbb; }
div#content-header div#sub-menu ul li a { color: #818181; }
div#content-header div#sub-menu ul li a:hover { text-decoration: none; color: #4f4f4f; }
div#content-header div#sub-menu ul li.last { border: none; }

div.sec-title { position: relative; float: right; color: #bbb; font: italic 1em "Lucida Grande", Verdana, Arial, sans-serif; }

div.sec { padding: 10px 10px 20px; margin: 0 10px; border-bottom: 1px solid #CCC; }
div.sec.last { border: none; }
div.bio { padding-bottom: 30px; }

a.cancel { color: red; }

/* Site Messages */

#site-messages-table
{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight: bold;
	letter-spacing: -1px;
	border-collapse: collapse; 
}

.site-message td
{
	padding: 7px 0px 7px 0px;
	text-align: center;
	background-color: #F4A83D;
}

.site-message a {
	color: #ca670f;
	text-decoration: underline;
}

.message-close a
{
	color: #ca670f;
	background-color: #e69c5c;
	border: 2px #ca670f solid;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
}

